shop/downloader/connect.cfg
shop/app/etc/local.xml
shop/app/etc/save.xml
shop/merchandising.zip
__MACOSX/
shop/media/catalog/product/cache/*
shop/var/*
shop/media/css/*
shop/media/js/*
shop/media/css_secure/*
shop.tar.gz
shop.zip
shop-6-3-15.zip
shop/downloader/.cache/*
!shop/var/.gitkeep
cms/system/expressionengine/config/config.php
cms/system/expressionengine/config/database.php
cms/system/expressionengine/cache/*
!cms/system/expressionengine/cache/index.html
.DS_Store
shop/media/captcha/*
shop/feeds/*
