shop/media/catalog/category/*
shop/media/catalog/product/cache/*
shop/var/*
!shop/var/.gitkeep
cms/system/expressionengine/config/config.php
cms/system/expressionengine/config/database.php
cms/system/expressionengine/cache/*
!cms/system/expressionengine/cache/index.html
.DS_Store
