<?xml version="1.0"?>
<config>
    <modules>
        <ExtensionsMall_CustomOptionSwatch>
            <version>0.0.1</version>
        </ExtensionsMall_CustomOptionSwatch>
    </modules>
    <!-- START DEFINED BACKEND ROUTE -->
    <admin>
        <routers>
            <custom_option_swatch>
                <use>admin</use>
                <args>
                    <module>ExtensionsMall_CustomOptionSwatch</module>
                    <frontName>custom_option_swatch</frontName>
                </args>
            </custom_option_swatch>
        </routers>
    </admin>
<!--    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <custom_option_swatch>ExtensionsMall_CustomOptionSwatch_Adminhtml</custom_option_swatch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin> -->
    <!-- END DEFINED BACKEND ROUTE -->	
    <adminhtml>
        <layout>
            <updates>
                <custom_option_swatch>
                    <file>customoptionswatch.xml</file>
                </custom_option_swatch>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <custom_option_swatch>
                <class>ExtensionsMall_CustomOptionSwatch_Model</class>
                <resourceModel>custom_option_swatch_resource</resourceModel>
            </custom_option_swatch>
            <custom_option_swatch_resource>
                <class>ExtensionsMall_CustomOptionSwatch_Model_Resource</class>
                <entities>
                    <custom_option_swatch_images>
                        <table>custom_option_swatch_images</table>
                    </custom_option_swatch_images>
                    <custom_option_swatch_relation>
                        <table>custom_option_swatch_relation</table>
                    </custom_option_swatch_relation>
                    <custom_option_swatch_log>
                        <table>custom_option_swatch_log</table>
                    </custom_option_swatch_log>
                </entities>
            </custom_option_swatch_resource>
            <catalog>
                <rewrite>
                    <product_option_type_swatches>ExtensionsMall_CustomOptionSwatch_Model_Catalog_Product_Option_Type_Swatches</product_option_type_swatches>
                    <product_option_type_swatch>ExtensionsMall_CustomOptionSwatch_Model_Catalog_Product_Option_Type_Swatch</product_option_type_swatch>
                    <product>ExtensionsMall_CustomOptionSwatch_Model_Catalog_Product</product>
                    <product_option>ExtensionsMall_CustomOptionSwatch_Model_Catalog_Product_Option</product_option>
                    <product_option_value>ExtensionsMall_CustomOptionSwatch_Model_Catalog_Product_Option_Value</product_option_value>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_option_value_collection>ExtensionsMall_CustomOptionSwatch_Model_Resource_Product_Option_Value_Collection</product_option_value_collection>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <custom_option_swatch_setup>
                <setup>
                    <module>ExtensionsMall_CustomOptionSwatch</module>
                </setup>
            </custom_option_swatch_setup>
        </resources>
        <blocks>
            <custom_option_swatch>
                <class>ExtensionsMall_CustomOptionSwatch_Block</class>
            </custom_option_swatch>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_option>ExtensionsMall_CustomOptionSwatch_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <custom_option_swatch>
                <class>ExtensionsMall_CustomOptionSwatch_Helper</class>
            </custom_option_swatch>
            <catalog>
                <rewrite>
                    <product_configuration>ExtensionsMall_CustomOptionSwatch_Helper_Product_Configuration</product_configuration>
                </rewrite>	
            </catalog>
        </helpers>
        <catalog>
            <product>
                <options>
                    <custom>
                        <groups>
                            <swatches translate="label" module="custom_option_swatch">
                                <label>Swatches</label>
                                <render>custom_option_swatch/adminhtml_catalog_product_edit_tab_options_type_swatch</render>
                                <types>
                                    <swatch translate="label" module="custom_option_swatch">
                                        <label>Swatch Selection</label>
                                    </swatch>
                                </types>
                            </swatches>
                        </groups>
                    </custom>
                </options>
            </product>
        </catalog>
        <events>
            <catalog_model_product_duplicate>
                <observers>
                    <duplicate_swatches>
                        <type>singleton</type>
                        <class>ExtensionsMall_CustomOptionSwatch_Model_Observer</class>
                        <method>duplicate</method>
                    </duplicate_swatches>
                </observers>
            </catalog_model_product_duplicate>
        </events>
    </global>
    <frontend>
        <routers>
            <custom_option_swatch>
                <use>standard</use>
                <args>
                    <module>ExtensionsMall_CustomOptionSwatch</module>
                    <frontName>custom_option_swatch</frontName>
                </args>
            </custom_option_swatch>
        </routers>
        <layout>
            <updates>
                <custom_option_swatch>
                    <file>custom_option_swatch.xml</file>
                </custom_option_swatch>
            </updates>
        </layout>
    </frontend>
    <default>
        <custom_option_swatch>
            <general>
                <swatch_width>30</swatch_width>
                <swatch_height>30</swatch_height>
                <checkout_cart_option_value_type>1</checkout_cart_option_value_type>
            </general>
        </custom_option_swatch>
    </default>
</config>
