{exp:magento:block block="head"}
{exp:magento:block block="header"}
{exp:channel:entries
	channel="blog"
	dynamic="no"
	limit="1"
	year="{embed:year}"
	month="{embed:month}"
	day="{embed:day}"
	category="{embed:category}"
}
<article data-id="{entry_id}" data-year="{year}" data-month="{month}" data-day="{day}" data-uri="{url_title}" data-title="{title}">
	<h2>
		<a href="{path={freeway_1}}/{year}/{month}/{day}/{url_title}">{title}</a>
	</h2>
</article>
{/exp:channel:entries}
{exp:magento:block block="footer"}