<?xml version="1.0"?>
<config>
	<modules>
		<Modernstudio_Modernstudio>
			<version>0.1.0</version>
		</Modernstudio_Modernstudio>
	</modules>
	<frontend>
        <routers>
            <ms>
                <use>standard</use>
                <args>
                   <module>Modernstudio_Modernstudio</module>
                   <frontName>ms</frontName>
                </args>
            </ms>
        </routers>
		<layout>
            <updates>
                <modernstudio_modernstudio module="modernstudio_modernstudio">
                    <file>ms.xml</file>
                </modernstudio_modernstudio>
            </updates>
        </layout>
	</frontend>
	<global>
		<page>
			<layouts>
				<page_home translate="label">
					<label>Home Page</label>
					<template>page/home.phtml</template>
					<layout_handle>page_home</layout_handle>
				</page_home>
			</layouts>
		</page>
	</global>
</config>
